---
import Layout from "../components/Layout.astro";
import Header from "../components/Header.svelte";
import Hero from "../components/Hero.svelte";
import Dev from "../components/Dev.svelte";
import Work from "../components/Work.svelte";
import Projects from "../components/Projects.svelte";
import Tech from "../components/Tech.svelte";
import Setup from "../components/Setup.svelte";
import ContactWrapper from "../components/ContactWrapper.svelte";
import Footer from "../components/Footer.svelte";
import NavWrapper from "../components/NavWrapper.svelte";
import userData from "../constants/userData";
---

<Layout title="Jose Vega">
  <Setup client:only="svelte" />
  <NavWrapper client:idle />
  <main>
    <section class="body-font text-gray-600">
      <div
        class="container mx-auto flex flex-col items-center px-5 py-8 md:flex-row md:py-16"
      >
        <Hero client:load {userData} />
        <div class="mb-16 w-5/6 md:w-1/2 lg:w-full lg:max-w-lg">
          <lottie-player
            class="object-cover object-center"
            src="https://assets4.lottiefiles.com/packages/lf20_hntzYU.json"
            background="transparent"
            speed="1"
            style="width: 100%; height: 100%;"
            loop
            autoplay
            data-aos="fade-down"
            data-aos-delay="250"
            data-aos-duration="1000"></lottie-player>
        </div>
      </div>
    </section>
    <section id="about" class="body-font bg-gray-100 text-gray-600">
      <div class="container mx-auto px-5 py-16">
        <Header title="About" />
        <div class="-m-4 flex flex-wrap">
          <div class="mb-6 p-4 lg:mb-0 lg:w-1/3">
            <div class="h-full text-center">
              <div
                class="mb-4 inline-flex h-20 w-20 items-center justify-center rounded-full bg-light-anaranjado text-anaranjado shadow"
                data-aos="fade-down"
                data-aos-delay="250"
              >
                <svg
                  xmlns="http://www.w3.org/2000/svg"
                  class="h-10 w-10"
                  fill="none"
                  viewBox="0 0 24 24"
                  stroke="currentColor"
                >
                  <path
                    stroke-linecap="round"
                    stroke-linejoin="round"
                    stroke-width="2"
                    d="M10 20l4-16m4 4l4 4-4 4M6 16l-4-4 4-4"></path>
                </svg>
              </div>
              <p class="leading-relaxed">
                Over the years, I have learned the required tools to develop
                succesful platforms using services like Braintree, AWS, Heroku,
                Netlify, Nuxt, Next, among others.
              </p>
              <span
                class="mt-6 mb-4 inline-block h-1 w-10 rounded bg-anaranjado"
              ></span>
            </div>
          </div>
          <div class="mb-6 p-4 lg:mb-0 lg:w-1/3">
            <div class="h-full text-center">
              <div
                class="mb-4 inline-flex h-20 w-20 items-center justify-center rounded-full bg-light-anaranjado text-anaranjado shadow"
                data-aos="fade-down"
                data-aos-delay="250"
              >
                <svg
                  xmlns="http://www.w3.org/2000/svg"
                  class="h-10 w-10"
                  fill="none"
                  viewBox="0 0 24 24"
                  stroke="currentColor"
                >
                  <path
                    stroke-linecap="round"
                    stroke-linejoin="round"
                    stroke-width="2"
                    d="M12 6.253v13m0-13C10.832 5.477 9.246 5 7.5 5S4.168 5.477 3 6.253v13C4.168 18.477 5.754 18 7.5 18s3.332.477 4.5 1.253m0-13C13.168 5.477 14.754 5 16.5 5c1.747 0 3.332.477 4.5 1.253v13C19.832 18.477 18.247 18 16.5 18c-1.746 0-3.332.477-4.5 1.253"
                  ></path>
                </svg>
              </div>
              <p class="leading-relaxed">
                I am proficient in several languages and frameworks such as Ruby
                on Rails, HTML, CSS, APIs, Vue and React.
              </p>
              <span
                class="mt-6 mb-4 inline-block h-1 w-10 rounded bg-anaranjado"
              ></span>
            </div>
          </div>
          <div class="p-4 lg:mb-0 lg:w-1/3">
            <div class="h-full text-center">
              <div
                class="mb-4 inline-flex h-20 w-20 items-center justify-center rounded-full bg-light-anaranjado text-anaranjado shadow"
                data-aos="fade-down"
                data-aos-delay="250"
              >
                <svg
                  fill="none"
                  stroke="currentColor"
                  stroke-linecap="round"
                  stroke-linejoin="round"
                  stroke-width="2"
                  class="h-10 w-10"
                  viewBox="0 0 24 24"
                >
                  <path d="M20 21v-2a4 4 0 00-4-4H8a4 4 0 00-4 4v2"></path>
                  <circle cx="12" cy="7" r="4"></circle>
                </svg>
              </div>

              <p class="leading-relaxed">
                I am always interested in learning new languages so if you
                prefer a specific one or a different stack, we can make it work!
              </p>
              <span
                class="mt-6 mb-4 inline-block h-1 w-10 rounded bg-anaranjado"
              ></span>
            </div>
          </div>
        </div>
      </div>
    </section>
    <Dev {userData} />
    <Work {userData} />
    <Projects client:idle />
    <Tech client:visible />
    <ContactWrapper client:visible {userData} />
    <Footer {userData} client:visible />
  </main>
</Layout>

<style>
  :root {
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
      Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  }
  main {
    text-align: center;
    margin: 0 auto;
  }
</style>
